*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.4;
}
p,h3 {
    padding: 0.4rem;
}
ul {
    padding-bottom: 0.4rem;
    list-style-position: inside;
}
.menu {
    display: flex;
    flex-direction: row;
    padding: 0.3rem;
    background: #333;
    color: #fff;
}
.menu div {
     padding: 0.3rem;
    margin: 0.3rem;
    text-align: center;
    border-right: 1px dotted #fff;
    cursor: pointer;
}
.menu div:hover {
    color: coral;
}
.heading {
    background:rgb(46, 6, 83) ;
    height: 15vh;
    color:#fff ;
    text-align: center;
    padding-top:2rem;
    border: 2px solid grey;
}
.content .sidebar-1 {
    float: left;
    width: 20%;
    height: 100%;
    padding: 0.5rem;
    border: 6px solid skyblue;
}
.content .article {
    float: left;
    width: 55%;
    height: 100%;
    margin: o.5rem;
    padding: 0.5rem;
    border: 4px solid #333;
}
.content .article h1 {
    font-size: 2rem;
}
.content .sidebar-2 {
    float: right;
    width: 25%;
    padding: 0.5rem;
    border: 6px solid skyblue;
}
.content .sidebar-2 ul {
    text-align: center;
}
.clear {
    clear: both;
}